# Exercícios do livro Introdução a Computação Usando Python.

#### Escreva expressões algébricas Python correspondentes aos seguintes comandos:

In [ ]:
# A soma dos 5 primeiros inteiros positivos.

1 + 2 + 3 + 4 + 5

In [ ]:
# A idade média de Sara (idade 23), Mark (idade 19) e Fátima (idade 31).

(23 + 19 + 31) / 3

In [ ]:
# O número de vezes que 73 cabe em 403.

403 // 73

In [ ]:
# O resto de quando 403 é dividido por 73.

403 % 73

In [ ]:
# 2 à 10ª potência.

2 ** 10

In [ ]:
# O valor absoluto da distância entre a altura de Sara (54 polegadas) e a altura de Mark (57 polegadas).

abs(54 - 57)

In [ ]:
# O menor preço entre os seguintes preços: R$ 34,99, R$ 29,95 e R$ 31,50.

min(34.99, 29.95, 31.50)

#### Traduza os comandos a seguir para expressões Booleanas em Python e avalie-as:

In [ ]:
# A soma de 2 e 2 é menor que 4.

2 + 2 < 4 

# False

In [ ]:
# O valor de 7 // 3 é igual a 1 + 1.

7 // 3 == 1 + 1

# True

In [ ]:
# A soma de 3 ao quadrado e 4 ao quadrado é igual a 25.

3 ** 2 + 4 ** 2 == 25

# True

In [ ]:
# A soma de 2, 4 e 6 é maior que 12.

2 + 4 + 6 > 12

# False

In [ ]:
# A soma de 2, 4 e 6 é maior que 12.

1387 % 19 == 0

# True

In [ ]:
# 31 é par.

31 % 2 == 0

# False

In [ ]:
# O preço mais baixo dentre R$ 34,99, R$ 29,95 e R$ 31,50 é menor que R$ 30,00.

min(34.99, 29.95, 31.50) < 30.00

# True

#### Escreva instruções Python que correspondem às ações a seguir e execute-as:

In [ ]:
# Atribua o valor inteiro 3 à variável a.

a = 3

In [ ]:
# Atribua 4 à variável b.

b = 4

In [ ]:
# Atribua à variável c o valor da expressão a * a + b * b

c = a * a + b * b

#### Comece executando as instruções de atribuição: 

>>> s1 = 'ant'
>>> s2 = 'bat'
>>> s3 = 'cod'
Escreva expressões Python usando s1, s2 e s3 e os operadores + e * a fim de avaliar para:

In [ ]:
# 'ant bat cod'

s1 + '' + s2 + '' + s3 + ''

In [ ]:
# 'ant ant ant ant ant ant ant ant ant ant'

10 * (s1 + '')

In [ ]:
# 'ant bat bat cod cod cod'

s1 + '' + 2 * (s2 + '') + 2 * (s3 + '') + s3

In [ ]:
# 'ant bat ant bat ant bat ant bat ant bat ant bat ant bat'

7 * (s1 + ''+ s2 + '')

In [ ]:
# 'batbatcod batbatcod batbatcod batbatcod batbatcod'

3 * (2 * s2 + s3 + '')

#### Comece executando a atribuição:

>>>> s = '0123456789'
>>>> Agora, escreva expressões usando a string s e o operador de indexação que é avaliado como:

In [ ]:
# '0'

s[0]

In [ ]:
# '1'

s[1]

In [ ]:
# '6'

s[6]

In [ ]:
# '8'

s[8]

In [ ]:
# '9'

s[9]